        @media (max-width: 768px) { 
            body { 
                .banner {
									display: block;
									margin: auto;
									width: 100%;
									height: auto;
								}
								
								#logo {
									display: block;
									width: 150px;
									margin: auto;
									margin-top: 50px;
								}
            } 	
        } 

p {
	margin: 30px 20%;
}

body {
	font-family: Cambria, Times New Roman, serif;
}

.home {
	width: 300px;
}

.promo, .menu {
  display: block;
  margin: auto;
	width: 500px;
	height: auto;
}

.menupic {
	width: 500px;
}

#container {
	text-align:center;
}	

.banner {
  display: block;
  margin: auto;
	width: 60%;
	height: auto;
}

hr.gradient {
  height: 1px;
	width: 500px;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(204, 234, 255) 0%,
    rgba(102,207,237) 21%,
    rgba(102,207,237) 51%,
    rgba(204, 234, 255) 100%
  );
}

legend {
	padding-top: 20px;
	text-align: center;
}

nav {
	background-color: white;
	text-align: center;
	margin: auto;
	padding: 20px;
	font-size: 18px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #66cfed;
}


ul{
	list-style-type: none;
	display: flex;
	align-items: center;
  justify-content: center;
}

li {
	padding: 10px 20px;
}

footer {
	text-align: center;
	padding: 100px;
}

#logo {
	display: block;
	width: 200px;
	margin: auto;
	margin-top: 50px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #fff;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #66cfed;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
	margin-top: 10px;
}

input[type=submit]:hover {
  background-color: #99ccdd;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 50px;
	margin: auto;
	width: 350px;
}